{% extends 'layout.html' %}

{% block error %}
	{% if err %}
		<div id="error" >
			<p class="error">{{err}}</p>
		</div>
	{% endif %}
{% endblock %}


{% block documento %}
	{% if docs and not err %}
	<div id="document">
		<p class="title">Documenti nella collezione {{title}}</p>
			{% for dati in docs %}
					<div class="document"> 
						<div class="docform">
							{% for i in dati %}
								{{ loop.key }} : {{i}} <br>
							{% endfor %}
						</div>
						<form id="deletedoc" action="/db/{{db}}/{{collect}}" method="post">
							<input type="hidden" name="_method" value="delete">
							<input type="hidden" name="docId" value="{{dati._id}}">
							<button type="submit" class="deletedoc" value="Cancella">cancella</button>
						</form>
					</div>
			{% endfor %}
		<div class="newdoc" >
			<form id="newdoc" action="/db/{{db}}/{{collect}}/new" autocomplete="off" method="post">
				<p class="newdoc">Crea Documento</p>
				<input required="required" class="newdoc" type="text" name="docName" placeholder="Nome Documento">
				<button class="newcoll" type="submit">crea</button>
			</form>
		</div>
		
	</div>
	{% endif %}
	
	{% if docs and err %}
		<div id="document">
			<div class="newdoc">
				<form id="newdoc" action="/db/{{db}}/{{coll}}/new" autocomplete="off" method="post">
					<p class="newdoc">Crea Documento</p>
					<input required="required" class="newdoc" type="text" name="docName" placeholder="Nome Documento">
					<button class="newdoc" type="submit">crea</button>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock %}