{% extends 'layout.html' %}
{% block server %}
 		{% if info %}
 		<div id="serverstat">
 			<table>
	 		<caption>
	 			<p class="titletab">Informazioni Server MongoDb</p>
	 		</caption>
 			  <tr>
 			    <td class="odd"><strong>Hostname</strong></td>
 			    <td class="even">{{ info.host }}</td>
 			    <td class="odd"><strong>MongoDB Version</strong></td>
 			    <td class="even" id="dbVersion">{{ info.version }}</td>
 			  </tr>
 			  <tr>
 			    <td class="odd"><strong>Uptime</strong></td>
 			    <td class="even">{{ info.uptime }} seconds</td>
 			    <td class="odd"><strong>Server Time</strong></td>
 			    <td class="even">{{ info.localTime|date('r') }}</td>
 			  </tr>
 			  <tr class="border-transparent"><td colspan="4">&nbsp;</td></tr>
 			  <tr>
 			    <td class="odd"><strong>Current Connections</strong></td>
 			    <td class="even">{{ info.connections.current }}</td>
 			    <td class="odd"><strong>Available Connections</strong></td>
 			    <td class="even">{{ info.connections.available }}</td>
 			  </tr>
 			  <tr>
 			    <td class="odd"><strong>Active Clients</strong></td>
 			    <td class="even">{{ info.globalLock.activeClients.total }}</td>
 			    <td class="odd"><strong>Queued Operations</strong></td>
 			    <td class="even">{{ info.globalLock.currentQueue.total }}</td>
 			  </tr>
 			  <tr>
 			    <td class="odd"><strong>Clients Reading</strong></td>
 			    <td class="even">{{ info.globalLock.activeClients.readers }}</td>
 			    <td class="odd"><strong>Clients Writing</strong></td>
 			    <td class="even">{{ info.globalLock.activeClients.writers}}</td>
 			  </tr>
 			  <tr>
 			    <td class="odd"><strong>Read Lock Queue</strong></td>
 			    <td class="even">{{ info.globalLock.currentQueue.readers }}</td>
 			    <td class="odd"><strong>Write Lock Queue</strong></td>
 			    <td class="even">{{ info.globalLock.currentQueue.writers}}</td>
 			  </tr>
 			  <tr class="border-transparent"><td colspan="4">&nbsp;</td></tr>
 			  <tr>
 			    <td class="odd"><strong>Disk Flushes</strong></td>
 			    <td class="even">{{ info.backgroundFlushing.flushes }}</td>
 			    <td class="odd"><strong>Last Flush</strong></td>
 			    <td class="even">{{ info.backgroundFlushing.last_finished|date('r') }}</td>
 			  </tr>
 			  <tr>
 			    <td class="odd"><strong>Time Spent Flushing</strong></td>
 			    <td class="even">{{ info.backgroundFlushing.total_ms }} ms</td>
 			    <td class="odd"><strong>Average Flush Time</strong></td>
 			    <td class="even">{{ info.backgroundFlushing.average_ms }} ms</td>
 			  </tr>
 			  <tr ><td class="border-transparent" colspan="4">&nbsp;</td></tr>
 			  <tr>
 			    <td class="odd"><strong>Total Inserts</strong></td>
 			    <td class="even">{{ info.opcounters.insert }}</td>
 			    <td class="odd"><strong>Total Queries</strong></td>
 			    <td class="even">{{ info.opcounters.query}}</td>
 			  </tr>
 			  <tr>
 			    <td class="odd"><strong>Total Updates</strong></td>
 			    <td class="even">{{ info.opcounters.update}}</td>
 			    <td class="odd"><strong>Total Deletes</strong></td>
 			    <td class="even">{{ info.opcounters.delete}}</td>
 			  </tr>
 			</table>
 		</div>
 		{% endif %} 
 		
 		{% if dbStats %}
 		<div id="dbStat">
 			<table>
 			<caption>
 				<div id="">
 					<p>Statistiche Database ADMIN</p>
 				</div>
 			</caption>
 				<tr>
 					<td><strong>Database</strong></td>
 					<td>{{dbStats.db}}</td>
 				</tr>
 				<tr>
 					<td><strong>Numero Collezioni</strong></td>
 					<td>{{dbStats.collections}}</td>
 				</tr>
 				<tr>
 					<td><strong>Numero Documenti Totali</strong></td>
 					<td>{{dbStats.objects}}</td>
 				</tr>
 				<tr>
 					<td><strong>Dimensione Media Documento</strong></td>
 					<td>{{dbStats.avgObjSize}}</td>
 				</tr>
 				<tr>
 					<td><strong>Dimensione Totale Database</strong></td>
 					<td>{{dbStats.dataSize}}</td>
 				</tr>
 				<tr>
 					<td><strong>Dimensione Totale Collezioni</strong></td>
 					<td>{{dbStats.storageSize}}</td>
 				</tr>
 				<tr>
 					<td><strong>Numero Extends Database</strong></td>
 					<td>{{dbStats.numExtents}}</td>
 				</tr>
 				<tr>
 					<td><strong>Numero Totale Indici</strong></td>
 					<td>{{dbStats.indexes}}</td>
 				</tr>
 				<tr>
 					<td><strong>Dimensione Totale Indici Database</strong></td>
 					<td>{{dbStats.indexSize}}</td>
 				</tr>
 				<tr>
 					<td><strong>Dimensione Totale File Database</strong></td>
 					<td>{{dbStats.fileSize}}</td>
 				</tr>
 				<tr>
 					<td><strong>Dimensione Totale Namespace Database</strong></td>
 					<td>{{dbStats.nsSizeMB}}</td>
 				</tr>
 				<tr>
 					<td><strong>Info Data File Version</strong></td>
 					<td>{{dbStats.dataFileVersion}}</td>
 				</tr>
 				<tr>
 					<td><strong>File Version Major</strong></td>
 					<td>{{dbStats.dataFileVersion.major}}</td>
 				</tr> 				
 				<tr>
 					<td><strong>File Version Minor</strong></td>
 					<td>{{dbStats.dataFileVersion.minor}}</td>
 				</tr>
 			</table>
 		</div>
 		{% endif %}
{% endblock %}