@font-face {
  font-family: Bariol;
  src: url("Bariol_Regular.otf");
}

*{
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	font: 18px/24px Bariol, Times, serif;
	font-family: Bariol, sans-serif;
  	padding: 0px;
  	margin:  0 auto;
  	/*font: 14px "Helvetica Neue",Helvetica, Arial, sans-serif;*/
}

li{
	list-style-type: none;
}

#error{
	border-left:1px solid white;
	float: left;
	margin:0 auto;
	padding-top:5px;
	width: 60%; 
	text-align:center;
}

.error{
	margin-top:3px;
	margin: 0 25%;
	margin-bottom: 20px;
	color: red;
	text-transform: uppercase;
	font-size: large;
	text-align:center;
	border: 1px solid red;
	border-radius: 10px;
	width: auto;
	float:left;
	padding: 3px;
	background-color: pink;
	
}
.error div{
	background-color: #FF6088;
}

/* Stile per header*/

header{
	height: 120px;
	background-color: #00BFFF;
	margin-bottom:1px;
}

header > div {
	float:left;
	margin-top:30px;
	margin-left:15px;
}

.sottotitolo{
	text-align:center;
	color: white;
	font-size: 12pt;
	font-weight:lighter;
	margin-top:5px;
	letter-spacing:1px;
}

a[class=nodecoration]{
	color: white;
	font-size:40pt;
	text-align:center;
	text-decoration: none;
}

a[class=nodecoration]:hover{
	color:white;
	font-color:white;
	text-decoration:none;
}

#ricerca{
	float:right;
	margin-right:40px;
	margin-top:40px;
}

#search{
	margin-left:0;
	height:40px;
	width:200px;
	padding:0px;
	padding-left:4px;
	float:right;
	background-color:white;
	border-color:white;
	font-size:16px;
	font-weight:lighter;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

#search:focus{
	outline:0;
}

#ricerca > button{
	float:left;
	margin-right:3px;
	
	background-color:transparent;
	background-image:url('/public/images/search1.png');
	
	background-repeat:no-repeat;
	background-position:center;
	
	height:40px;
	width:40px;
	
	border-color:transparent;
}

#tiporicerca{
	-webkit-appearance: none;
	appearance: none;
	
	border-color:transparent;
	background-color:#D3D3D3;
	
	
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	
	text-transform:uppercase;
	letter-spacing:0.5px;
	float:right;
	width:95px;
	height:40px;
	margin:0;
	padding-right:2px;
	padding-left:5px;
	
	cursor:pointer;
}

/* Stile per il contenuto della pagina */
#content{
	width:100%;
	float:left;
	background-color:#87CEFA;
}

#database{
	padding-top:10px;
	margin: 0 auto;
	width: 30%;
	float:left;
}

div[class=database]{
	float:left;
	width:100%;
	margin:0 auto;
	/*margin-left:10px;*/
	min-height:300px;
}

ul[class=database] {
	padding-top:5px;
	float:left;
	width:60%;
	margin-bottom:10px;
	text-align:center;
	margin-left: 20%;
}

li[class=database]{
	width:100%;
	text-align: left;
	/*list-style-type:circle;*/
	font-size:14pt;
	list-style-image:url('/public/images/dbicon1.gif'); 
	/*padding-left:10px;*/
	padding-top:5px;
	list-style-position: inside;
}

li[class=database] > a{
	vertical-align: 3px;
	color:black;
	/*#F9EC87*/
}

p[class=dbtitle]{
	margin: 0 auto;
	color:black;
	text-align: center;
	font-size: 20pt;
	font-weight:lighter;
	letter-spacing:0.5px;
	padding: 5px;
	padding-bottom:10px;
}

/* Stile per elementi FORM cancellazione database */

#deletedb {
	float:right;
	margin:0;
}

#deletedb > button {
	
	background-image:url('/public/images/remove1.gif');
	background-repeat:no-repeat;
	background-position:center;
	background-color:transparent;
	border-color:transparent;
	
	cursor:pointer;
	
	padding-left:0px;
	margin-left:0px;
	
	height:22px;
	width:22px;
	
}

/* Stile per elementi FORM di creazione database */
div[class=newdb]{
	width:100%;
	padding-top:10px;
	border-top:1px solid white;
	float:left;
	width:100%;
}

#newdb {
	float:left;
	padding:0 10%;
}

#newdb > button{
	height:50px;
	width: 80px;
	padding: 0px;
	font-size:22px;
	font-weight:lighter;
	letter-spacing:1px;
	float:left;
	margin-left:3px;
	color: black;
	background: #4D9C35;
	text-transform: uppercase;
	
	border: 1px solid #4D9C35;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	
}

p[class=formtitle] {
	margin: 0 auto;
	text-align: center;
	font-size: 18pt;
	font-weight:lighter;
	letter-spacing:0.5px;
	padding: 5px;
	padding-bottom:15px;
}

/* Stile per tabella informazioni Server MongoDB */

#dbStat {
	display:none;
	
}

#dbStat table{
	margin: 0 auto;
	/*width:70%;*/
}

#serverstat{
	width:65%;
	margin: 0 auto;
	border-left: 1px solid white;
	padding-bottom:20px;
	padding-top: 10px;
	float:left;
}

#serverstat table{
	width: 80%;
	margin: 0 auto;
}

table { 
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #dddddd;
	border-top: none;
	border-radius: 2px;
}

td{
	border-right:1px solid #dddddd;
}

tr{
	border-top:1px solid #dddddd;
}

td[class=border-transparent]{
	border-color:#87CEFA !important;
}

.odd{
	background-color: #f9f9f9;
}
.even{
	background-color: white;
}

caption {
	color: black;
	text-align: center;
	margin: 0;
	padding: 10px;
}

p[class=titletab]{
	text-align:center;

	color:black;
	font-weight:lighter;
	font-size:20pt;
	
	letter-spacing:0.5px;
}

tr {
	vertical-align: top;
}

tr,th,td {
	padding: 5px;
}

/* Stili per pagina collezioni */
#collection{
	padding-top:10px;
	padding-bottom:10px;
	border-left: 1px solid white;
	float:left;
	margin:0 auto;
	width: 60%;
	min-height: 400px;
}

p[class=title]{
	margin: 0 auto;
	text-align: center;
	font-size: 20pt;
	font-weight:lighter;
	letter-spacing:0.5px;
	padding: 5px;
	padding-bottom:30px;
}

div[class=nomecollection]{
	margin-bottom:5px;
	text-align:center;
}

a[class=nomecollection]:hover{
	text-decoration:none;
}

p[class=nomecollection]{
	color:#FF8C00;
	font-family:inherit;
	font-size:16pt;
}

div[class=infocollection]{	
	float:left;
	width:100%;
}

table[class=infocollection]{
	background-color:white;
	margin: 0 auto;
	margin-bottom:10px;
	width:80%;
	float:left;
} 

table[class=infocollection] td[class="odd"]{
	width:300px;
	/*padding:10px;*/
}

table[class=infocollection] td{
	width:100px;
}

ul[class=infocollection]{
	width:90%;
	float:left;
}

li[class=infocollection]{
	/*width:100%;*/
	font-size:12pt;
	height:40px;
	display:inline;
	float:left;
	padding:0;
	padding-top:5px;
	margin-left:0px;
	margin-right:0px;
	margin:5px;
	/*border:1px solid black;*/
}

p[class=infocollection]{
	text-align:center;
	border:1px solid blue;
}

div[id=collform] {
	/*background-color:#B0C4DE;*/
	margin:0 3%;
	margin-bottom:10px;
	float:left;
	min-height: 50px;
	width:100%;
	padding: 10px;
}

/*Stile per elementi FORM di creazione collezioni */
div[class=newcoll]{
	/*border:1px solid black;*/
	float:left;
	padding-top:5px;
	margin:0 30%;
}

input[class~=newcoll]{
	background: #F4F5F2;
	color: black;
	border: 1px solid #dddddd;
	width: 200px;
	height: 50px;
	font-size:16px;
	font-weight:lighter;
	padding-left:5px;
	float:left;
	margin-left: 3px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	line-height: 40px;
}

button[class=newcoll]{
	height:50px;
	width: 90px;
	padding: 0px;
	font-size:22px;
	font-weight:lighter;
	float:left;
	color: black;
	background: #4D9C35;
	text-transform: uppercase;
	
	margin-left:3px;
	
	border: 1px solid #4D9C35;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	
	/*box-shadow: -1px -1px 1px #AFCFAA*/
}

p[class=newcoll] {
	text-align: center;
	font-size:22px;
	font-weight: bold;
	margin: 0;
	padding-bottom: 3px;
}

/* Stile per elementi FORM cancellazione collezione */
form[id=deletecoll]{
	margin:0 auto;
	margin-top:15px;
	margin-left:20px;
	float: left;
	padding:0px;
}

button[class="deletecoll"]{

	height:50px;
	width: 90px;
	padding: 0;
	color: black;
	font-size:16px;
	text-transform: uppercase;
	font-weight:lighter;
	background-color: red;
	border: 1px solid red;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
}

/* Stili per elementi FORM creazione documenti*/
div[class=newdoc]{
	/*border:1px solid black;*/
	float:left;
	padding-top:5px;
	margin:0 30%;
}

input[class=newdoc]{
	background: #F4F5F2;
	color: black;
	border: 1px solid #dddddd;
	width: 200px;
	height: 50px;
	font-size:16px;
	font-weight:lighter;
	padding-left:5px;
	float:left;
	margin-left: 3px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	line-height: 40px;
}

button[class=newdoc]{
	height:50px;
	width: 90px;
	padding: 0px;
	font-size:22px;
	font-weight:lighter;
	float:left;
	color: black;
	background: #4D9C35;
	text-transform: uppercase;
	
	margin-left:3px;
	
	border: 1px solid #4D9C35;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	
	/*box-shadow: -1px -1px 1px #AFCFAA*/
}

p[class=newdoc] {
	text-align: center;
	font-size:22px;
	font-weight: bold;
	margin: 0;
	padding-bottom: 3px;
}

.viewdoc {
	color:yellow;
	background-color:blue;
}

/* Stile per pagina documenti */
#document{
	padding:10px;
	border-left: 1px solid white;
	float:left;
	width: 60%;
	min-height: 400px;
}

div[class=docform]{
	float:left;
	width:80%;
	padding:5px;
		min-height:100px;
	
	border: 1px solid #005682;
	border-radius:10px;
	
	background-color: #0073AF;
	color: #F5AC48;
}

div[class=document]{
	float:left;
	width:100%;
	margin:0 5%;
	
	margin-bottom:10px;
}

.docform > a {
	padding: 5px;
	margin-bottom: 5px;
	float: left;
	font-size: 20px;
}


form[id=deletedoc]{
	margin:0 auto;
	margin-top:15px;
	margin-left:20px;
	float: left;
	padding:0px;
}

button[class="deletedoc"]{

	height:50px;
	width: 90px;
	padding: 0;
	color: black;
	font-size:16px;
	text-transform: uppercase;
	font-weight:lighter;
	background-color: red;
	border: 1px solid red;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
}

/*Stile per elemento FOOTER del layout*/

footer{
	margin-top:1px;
	background-color: #00BFFF;
	width:100%;
	float:left;
	font-size:100%;
}

div[class~=contentinfo]{
	padding-top:25px;
	float:left;
	width:50%;
	text-align:center;
}

ul[class~=info]{
	width:90%;
	float:left;
}

li[class~=info]{
	color:white;
	font-size:20px;
}

li[class~=title]{
	font-size:35px;
	text-transform:uppercase;
	margin-bottom:10px;
}

li[class~=info]:first-child{
	margin-bottom:30px;
}

li[class~=fb]{
	margin-left:130px;
	margin-right:20px;
	list-style-image:url('/public/images/facebook.png');
	list-style-position:inside;
}

li[class~=twitter]{
	margin-left:130px;
	margin-right:20px;
	list-style-image:url('/public/images/twitter.png');
	list-style-position:inside;
}

li[class~=uni]{
	list-style-image:url('/public/images/pollo-min.gif');
	list-style-position:inside;
}

p[class="infosocial"]{
	float:right;
	font-size:18px;
	margin-left:0px;
	margin-right:200px;
	margin-top:14px;
}

a[class="infosocial"], a[class="infosocial"]:hover{
	color:white;
	text-decoration:none;
}

p[class=uni]{
	font-size:16px;
	float:right;
	margin-right:90px;
	margin-top:14px;
}

